<settings>
  <resolution>1280,720</resolution>
  <targetFPS>480</targetFPS>
  <fullscreen>0</fullscreen>
  <sensitivity>0.5</sensitivity>
  <crosshair>crosshair.png</crosshair>
  
  <theme>
    <menu>
      <!--<font>/usr/share/fonts/truetype/ubuntu/UbuntuMono-B.ttf</font>-->
      <fontSize>36</fontSize>
      <fontSpacing>2.5</fontSpacing>
      <colour>#FFFFFF</colour>     
    </menu>
    <scenario>
      <fontSize>48</fontSize>
      <fontSpacing>1.5</fontSpacing>
      <colour>#000000</colour>
    </scenario>
  </theme>

  <user>
    <name>Matt</name>
  </user>
</settings>
